---
import BaseLayout from "../../layouts/BaseLayout.astro";
import { getCollection } from "astro:content";

export async function getStaticPaths() {
    const posts = await getCollection("blog");
    return posts.map((post) => ({ params: { slug: post.slug }, post }));
}

const { post } = Astro.props;
const { Content } = await post.render();
---

<BaseLayout title={post.data.title}>
    <article class="space-y-4 max-w-2xl">
        <h1 class="text-3xl font-bold">{post.data.title}</h1>
        <time class="text-sm text-gray-500 block"
            >{post.data.date.toLocaleDateString()}</time
        >
        <div class="space-y-4 leading-relaxed"><Content /></div>
    </article>
</BaseLayout>
